/* Classes */
$class-prefix: eins-modal !default;
$backdrop-class: #{$class-prefix}-backdrop;
$wrapper-class: #{$class-prefix};
$modal-class: #{$class-prefix}-content; // eins-modal
$modal-close-class: #{$class-prefix}-close;
$dark-theme-class: #{$class-prefix}-dark;
$display-none-class: #{$class-prefix}-d-none;

/* General */
$font-size-base: 13px !default;

/* Backdrop */
$backdrop-background: rgba(0, 0, 0, 0.6) !default;
$backdrop-z-index: 20000 !default;

/* Wrapper */
$wrapper-padding: 15px !default;

/* Close cross */
$close-font-size: 23px !default;
$close-font-weight: bold !default;
$close-margin-left: 95% !default;

/* Modal General */
$max-width: 400px !default;

$padding: 15px !default;
$margin: 10% auto !default;

$border-radius: 6px !default;
$border-width: 0px !default;
$border-style: solid !default;

/* Default Theme */
$font-color: #000 !default;
$border-color: #000 !default;
$background: #fff !default;
$close-color: #000 !default;
$close-color-hover: #666 !default;

// dark theme
$font-color-dark: #fff !default;
$border-color-dark: #000 !default;
$background-dark: #262626 !default;
$close-color-dark: #b5b5b5 !default;
$close-color-hover-dark: #fff !default;
